@using Microsoft.AspNet.Identity
@model PagedList.IPagedList<BlogMe.Models.Blog>
@{
    ViewBag.Title = "Blogs";
}

@if (@User.Identity.IsAuthenticated)
{
    <p>We are authenticated</p>
    <p>I want to put new blog button here (only if logged in)</p>
}


<h2>Blogs</h2>
<div>

    <p>@User.Identity.GetUserId() </p>
</div>
<ul>


    @for (int i = 0; i < Model.Count(); i++)
    {
        <li>
            @Model[i].Title
        </li>
    }
</ul>
<p>@Model.Count()</p>
