@model BlogMe.Models.Blog
@using BlogMe.Models;
@{
    ViewBag.Title = "ReadBlog";
}

<h2>@Model.Title</h2>

<p>@Model.BlogText</p>
@if (Model.Comments is null)
{
    <p>Hmmm</p>
}
else
{
    foreach (Comment comment in Model.Comments)
    {
        <p>@comment.CommentText</p>
    }
}

